<form class="settings" action="#save-settings" method="post">

    <div class="header">Частота обновлений</div>

    <div class="row">
        <span>Проверять сообщения каждые:</span> <select name="messages_interval">
            {% for val in options.messages_interval %}
                <option value="{{ val }}" {% if settings.messages_interval == val %}selected="selected"{% endif %}>{% if val %}{{ val }} минут{% else %}не проверять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <span>Проверять комментарии каждые:</span> <select name="comments_interval">
            {% for val in options.comments_interval %}
                <option value="{{ val }}" {% if settings.comments_interval == val %}selected="selected"{% endif %}>{% if val %}{{ val }} минут{% else %}не проверять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <span>Проверять дневники каждые:</span> <select name="diaries_interval">
            {% for val in options.diaries_interval %}
                <option value="{{ val }}" {% if settings.diaries_interval == val %}selected="selected"{% endif %}>{% if val %}{{ val }} минут{% else %}не проверять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <span>Проверять статьи каждые:</span> <select name="articles_interval">
            {% for val in options.articles_interval %}
                <option value="{{ val }}" {% if settings.articles_interval == val %}selected="selected"{% endif %}>{% if val %}{{ val }} минут{% else %}не проверять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <span>Проверять новости каждые:</span> <select name="news_interval">
            {% for val in options["news_interval"] %}
                <option value="{{ val }}" {% if settings["news_interval"] == val %}selected="selected"{% endif %}>{% if val %}{{ val }} минут{% else %}не проверять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="header">Примерный расход трафика</div>
    <div class="stats">
        <dl class="stat">
            <dt class="hour">в час:</dt>
            <dd class="hour">{{ hour }} Мб</dd>
            <dt class="day">в день:</dt>
            <dd class="day">{{ day }} Мб</dd>
        </dl>
    </div>

    <div class="header">Настройки истории</div>

    <div class="row">
        <span>Искать старые записи:</span> <select name="max_pages">
            {% for val in options["max_pages"] %}
                <option value="{{ val }}" {% if settings["max_pages"] == val %}selected="selected"{% endif %}>{% if val %}{{ val|pluralize("страницу", "страницы", "страниц") }}{% else %}игнорировать{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <span>Хранить не более:</span> <select name="cleanup">
            {% for val in options["cleanup"] %}
                <option value="{{ val }}" {% if settings["cleanup"] == val %}selected="selected"{% endif %}>{% if val %}{{ val }} записей{% else %}не удалять{% endif %}</option>
            {% endfor %}
        </select>
    </div>

    <div class="header">Системные настройки (оставь как есть)</div>

    <div class="row">
        <span>Интервал обработчика:</span> <select name="interval">
            {% for val in options["interval"] %}
                <option value="{{ val }}" {% if settings["interval"] == val %}selected="selected"{% endif %}>{{ val }} сек.</option>
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <input type="checkbox" name="debug" {% if settings['debug'] %}checked="checked"{% endif %} id="id_debug" /> <label for="id_debug">Режим отладки</label>
    </div>

    <div class="header">Сброс на значения по умолчанию</div>

    <div class="row" style="text-align: center;">
        <button class="danger">Сбросить все настройки</button>
    </div>
</form>