<!--
    LogType ::
    {
        "id": (int),
        "day": (date),
        "type": (str) <message|comment|news|diary|game>,
        "count": (int),
        "target": (str),
        "target_type": (str)
    }
-->

<ul class="list">
    {% if object_list|length == 0 %}
    <li class="empty">У вас пока нет ни одного события</li>
    {% endif %}

    {% for object in object_list %}
        {% if object.day|date != last_day %}
            <li class="day-header">
                {{ object.day|date }}
                <a href="#" class="remove" data-type="log" data-rel="{{ object.day|date("YYYYMMDD") }}:*"></a>
            </li>
        {% endif %}
        {% if object.type != last_type or object.day|date != last_day %}
            <li class="header">
                {{ object.type|humanize_type }}
                <a href="#" class="remove" data-type="log" data-rel="{{ object.day|date("YYYYMMDD") }}:{{ object.type }}:*"></a>
            </li>
        {% endif %}

        <li>
        {% if object.type == 'message' %}
            У вас <a href="#">{{ object.count|pluralize("новое сообщение", "новых сообщения", "новых сообщений") }}</a>
        {% elif object.type == 'comment' %}
            <a href="#">{{ object.count|pluralize("новый комментарий", "новых комментария", "новых комментариев") }}</a> к «<a href="#">{{ object.target.title }}</a>»
        {% elif object.type == 'new' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} <a href="#">{{ object.count|pluralize("новость", "новости", "новостей") }}</a>
        {% elif object.type == 'journal' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} <a href="#">{{ object.count|pluralize("запись в дневнике", "записи в дневниках", "записей в дневниках") }}</a>
        {% elif object.type == 'thought' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} <a href="#">{{ object.count|pluralize("мысль", "мысли", "мыслей") }}</a>
        {% elif object.type == 'game' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} <a href="#">{{ object.count|pluralize("новая игра", "новых игры", "новых игр") }}</a>
        {% endif %}
        </li>

        {% set last_day = object.day|date %}
        {% set last_type = object.type %}
    {% endfor %}
</ul>