<ul class="list">
    {% if object_list|length == 0 %}
    <li class="empty">У вас пока нет подписок, их можно <a href="#" class="local">импортировать</a> из&nbsp;предыдущей версии.</li>
    {% endif %}

    {% for object in object_list %}
        {% if object.active != last_active %}
            <li class="day-header">{{ "активные подписки" if object.active else "устаревшие подписки" }}</li>
        {% endif %}
        {% if object.type != last_type or object.active != last_active %}
            <li class="header">
                {{ object.type|humanize_type }}
                {% if not object.active %}
                <a href="#" class="remove" data-type="subscription-block" data-rel="{{ object.type }}"></a>
                {% endif %}
            </li>
        {% endif %}

        <li>
            <a href="{{ object.url }}" class="open">{{ object.title }}</a>
            <a href="#" data-type="subscription" data-rel="{{ object.type }}:{{ object.id }}" class="remove"></a>
        </li>

        {% set last_active = object.active %}
        {% set last_type = object.type %}
    {% endfor %}
</ul>