<ul class="list">
    {% if object_list|length == 0 %}
    <li class="empty">Пока нет новых комментариев</li>
    {% endif %}

    {% for object in object_list %}
        {% if object.date|date != last_day %}
            <li class="day-header">
                {{ object.date|date }}
                <a href="#" class="remove" data-rel="comment:{{ object.date|date("%Y%M%D") }}:*"></a>
            </li>
        {% endif %}
        {% if object.target.id != last_target or object.date|date != last_day %}
            <li class="header">
                <a href="{{ object.target.url }}" class="open">{{ object.target.title }}</a>
                <a href="#" class="remove" data-rel="comment:{{ object.date|date("%Y%M%D") }}:{{ object.target.id }}*"></a>
            </li>
        {% endif %}

        <li id="comment{{ object.id }}">
            <a href="http://tesera.ru/user/{{ object.from.name }}/" class="open"><img class="pic" src="http://tesera.ru/images/items/{{ object.from.id }},22/32x32xpa/photo.jpg" width="32" height="32" alt="" title="">
            <div class="text"></a>
                <p class="nick"><a href="http://tesera.ru/user/{{ object.from.name }}/" class="open">{{ object.from.name }}</a></p>
                {% if object.title %}<h4><a href="{{ object.target.url }}/comments#post{{ object.id }}" class="open unseen">{{ object.title }}</a></h4>{% endif %}
                <p class="content"><a href="{{ object.target.url }}/comments#post{{ object.id }}" class="open unseen">{{ object.body }}</a></p>
                
                <!-- p><a href="#" class="local answer" data-id="{{ object.uid }}" data-rel="comment">Ответить</a></p>
                <div class="hidden-form"></div -->
            </div>
            <a href="#" class="remove" data-rel="{{ object.uid }}"></a>
        </li>

        {% set last_day = object.date|date %}
        {% set last_target = object.target.id %}
    {% endfor %}
</ul>