<ul class="list">
    {% if object_list|length == 0 %}
    <li class="empty">У вас пока нет ни одного события</li>
    {% endif %}

    {% for object in object_list %}
        {% if object.day|date != last_day %}
            <li class="day-header">
                {{ object.day|date }}
                <a href="#" class="remove" data-rel="log:{{ object.day|date("%Y%M%D") }}*"></a>
            </li>
        {% endif %}
        {% if object.type != last_type or object.day|date != last_day %}
            <li class="header">
                {{ object.type|humanize_type }}
                <a href="#" class="remove" data-rel="log:{{ object.day|date("%Y%M%D") }}:{{ object.type }}*"></a>
            </li>
        {% endif %}

        <li>
        {% if object.type == 'message' %}
            У вас <a href="http://tesera.ru/user/messages/" data-rel="{{ object.uid }}" class="open delete">{{ object.count|pluralize("новое сообщение", "новых сообщения", "новых сообщений") }}</a> от {% for uid in object.related %}{% if not loop.first and not loop.last %}, {% endif %}{% if loop.last %} и {% endif %}{{ uid|get_item_key("from.name") }}{% endfor %}
        {% elif object.type == 'comment' %}
            {{ object.count|pluralize("новый комментарий", "новых комментария", "новых комментариев") }} к «<a href="{{ object.target.url }}#post{{ object.related[0]|get_item_key("id") }}" data-rel="{{ object.uid }}" class="open delete">{{ object.target.title }}</a>»
        {% elif object.type == 'article' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} {{ object.count|pluralize("статья", "статьи", "статей") }}: {% for related in object.related %}«<a href="{{ related.url }}" data-rel="{{ object.uid }}|{{ related.url }}" class="open delete">{{ related.title }}</a>»{% if not loop.last %}, {% endif %}{% endfor %}
        {% elif object.type == 'new' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} {{ object.count|pluralize("новость", "новости", "новостей") }}: {% for related in object.related %}«<a href="{{ related.url }}" data-rel="{{ object.uid }}|{{ related.url }}" class="open delete">{{ related.title }}</a>»{% if not loop.last %}, {% endif %}{% endfor %}
        {% elif object.type == 'journal' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} {{ object.count|pluralize("запись в дневнике", "записи в дневниках", "записей в дневниках") }}: {% for related in object.related %}«<a href="{{ related.url }}" data-rel="{{ object.uid }}|{{ related.url }}" class="open delete">{{ related.title }}</a>»{% if not loop.last %} ,{% endif %}{% endfor %}
        {% elif object.type == 'thoughtus' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} {{ object.count|pluralize("мысль", "мысли", "мыслей") }}: {% for related in object.related %}«<a href="{{ related.url }}" data-rel="{{ object.uid }}|{{ related.url }}" class="open delete">{{ related.title }}</a>»{% if not loop.last %} ,{% endif %}{% endfor %}
        {% elif object.type == 'game' %}
            На сайте {{ object.count|pluralize("появилась", "появилось", "появилось", true) }} {{ object.count|pluralize("новая игра", "новых игры", "новых игр") }}: {% for related in object.related %}«<a href="{{ related.url }}" data-rel="{{ related.url }}" class="open delete">{{ related.title }}</a>»{% if not loop.last %} ,{% endif %}{% endfor %}
        {% endif %}
            <a href="#" class="remove" data-rel="{{ object.uid }}"></a>
        </li>

        {% set last_day = object.day|date %}
        {% set last_type = object.type %}
    {% endfor %}
</ul>