<form method="post" action="http://tesera.ru/{% if object.target.type == 'game' %}game{% else %}item{% endif %}_comment0/" enctype="multipart/form-data" class="post-comment">
    <input type="hidden" name="id" value="0">
    <input type="hidden" name="comment_pid" value="{{ object.id }}">
    <input type="hidden" name="comment_board_id" value="{{ object.target.id }}">
    <input type="hidden" name="comment_title" value="{{ object.title }}">
    <input type="hidden" name="comment_itemcat" value="">
    <input type="hidden" name="comment_save" value="1">
    <input type="hidden" name="MAX_FILE_SIZE" value="10000000">
    <input type="hidden" name="popupid" value="popuper_item_comment">
    <input type="hidden" name="auth_uid" value="6179">

    <div class="row">
        <textarea name="comment_comments" placeholder="Текст сообщения" cols="30" rows="10"></textarea>
    </div>

    <button type="submit">Ответить</button>
</form>