<ul class="list">
    {% if object_list|length == 0 %}
    <li class="empty">У вас пока нет подписок, но их можно <a href="#" class="answer local">импортировать</a> из&nbsp;предыдущей версии.</li>
    {% endif %}

    {% for object in object_list %}
        {% if object.active != last_active %}
            <li class="day-header">{{ "активные подписки" if object.active else "устаревшие подписки" }}</li>
        {% endif %}
        {% if object.type != last_type or object.active != last_active %}
            <li class="header">
                {{ object.type|humanize_type }}
                {% if not object.active %}
                <a href="#" class="remove" data-rel="subscription:{{ object.type }}"></a>
                {% endif %}
            </li>
        {% endif %}

        <li>
            <a href="{{ object.url }}" class="open">{{ object.title }}</a>
            <a href="#" data-rel="{{ object.uid }}" class="remove"></a>
        </li>

        {% set last_active = object.active %}
        {% set last_type = object.type %}
    {% endfor %}

    {% if object_list|length > 0 %}
    <li class="subaction"><a href="#" class="answer local">Импортировать подписки</a></li>
    {% endif %}

    <li class="hidden-form">
        <form action="" class="import-subscriptions" method="post">
            <div class="row">
                <textarea name="import_data" placeholder="Скопируйте текст экспорта из  дополнения прошлой версии" cols="30" rows="10"></textarea>
            </div>

            <button type="submit">Импортировать</button>
        </form>
    </li>
</ul>